.App {
  text-align: center;
}

.App-logo {
  height: 100%;
  pointer-events: none;
  border-radius: 25px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header p {
  margin: 0 5vw;
  font-style: italic;
  font-weight: 300;
  font-size: calc(10px + 1vmin);
}

.logo-container {
  width: 100%;
  height: 45vmin;
  padding: 5vmin 0;
  text-align: center;
  background-image: url("./home-bq.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
